<div class="container <!--card --><!--card-img-top-->">
  <h1 class="">Загрузка - выгрузка данных</h1>
  <br>
  <button class="btn btn-secondary" (click)="getDataJson()">Загрузить</button>
  <br>
  <div class="card card-img-top ">
    <table>
      <tr>
        <th>
          <button name="familySort" (click)="sortByFirst_mame()">first_name</button>
        </th>
        <th>
          <button name="familySort" (click)="sortByLast_name()">last_name</button>
        </th>
        <th>
          <button name="familySort" (click)="sortByGender()">gender</button>
        </th>
        <th>
          <button name="familySort" (click)="sortByDob()">dob</button>
        </th>
        <th>
          <button name="familySort" (click)="sortByPhone()">phone</button>
        </th>
      </tr>

      <tr class="car-title" *ngFor="let element of arrayOfUsers">
        <td>{{element.first_name}}</td>
        <td>{{element.last_name}}</td>
        <td>{{element.gender}}</td>
        <td>{{element.dob}}</td>
        <td>{{element.phone}}</td>
      </tr>
    </table>
  </div>

</div>
