<div class="container <!--card --><!--card-img-top-->">
  <h1 class="">Загрузка - выгрузка данных</h1>
  <br>
  <button class="btn btn-secondary" (click)="getDataJson()">Загрузить</button>
  <br>
  <div class="card card-img-top ">
    <table>
      <tr>
        <th>
          <button name="familySort" (click)="sort('first_name')">first_name</button>
        </th>
        <th>
          <button name="familySort" (click)="sort('last_name')">last_name</button>
        </th>
        <th>
          <button name="familySort" (click)="sort('gender')">gender</button>
        </th>
        <th>
          <button name="familySort" (click)="sort('dob')">dob</button>
        </th>
        <th>
          <button name="familySort" (click)="sort('phone')">phone</button>
        </th>
      </tr>

      <tr class="car-title" *ngFor="let element of arrayOfUsers">
        <td>{{element.first_name}}</td>
        <td>{{element.last_name}}</td>
        <td>{{element.gender}}</td>
        <td>{{element.dob}}</td>
        <td>{{element.phone}}</td>
      </tr>
    </table>
  </div>
  <br>
  <button class="btn btn-secondary" (click)="createNewUser()">Создать нового пользователя</button>
  <span *ngIf="isServerInteractionActive">Скачивание началось!</span>
  <br>

</div>
